<h1 style="text-align: center; font-size: 20px;" *ngIf="cartItems.length === 0">You didn't Order any thing yet</h1>

<div class="container" *ngIf="cartItems.length !== 0">

    <div style="margin-left: 150px;">

        <div class="card mb-3" *ngFor="let item of cartItems">
            <div class="item-details">
                <div class="col-md-4">
                    <img src="{{item.product.url}}" class="item-img" alt="ItemImage">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">{{item.product.name}}</h3>
                        <h6 class="card-subtitle mb-2 text-muted">$ {{item.product.price}}</h6>
                        <p class="card-text">
                            {{item.product.description}}
                        </p>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" min="1" max="10" [(ngModel)]="item.quantity"
                                (ngModelChange)="updatePrice()">
                        </div>
                        <p>
                            Total: $ {{item.product.price * item.quantity}}
                        </p>
                    </div>



                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4>Total: $ {{totalPrice}}</h4>
            </div>
        </div>

    </div>

    <div style="margin-right: 150px;">

        <form #form="ngForm" *ngIf="cartItems.length > 0" (ngSubmit)="onSubmit()">

            <div class="form-field">
                <label class="label">Full name</label>
                <input class="input" name="fullnameValid" type="text" required  minlength="3"
                    placeholder="Enter your full name" maxlength="32"[(ngModel)]="fullName"
                    #fullnameValid="ngModel">
                <div class="form-text" *ngIf="fullnameValid.invalid && fullnameValid.dirty">
                    <p *ngIf="fullnameValid.errors?.['required']">
                        Full Name is required.
                    </p>
                    <p *ngIf="fullnameValid.errors?.['minlength']">
                        Full Name is too short.
                    </p>
                    <p *ngIf="fullnameValid.errors?.['maxlength']">
                        Full Name is too long.
                    </p>
                </div>
            </div>

            <div class="form-field">
                <label class="label">Address</label>
                <input class="input"  type="text" required  minlength="6" name="AddressValid"
                    placeholder="Enter Your address" maxlength="64" [(ngModel)]="address" #AddressValid="ngModel">
                <div class="form-text" *ngIf="AddressValid.invalid && AddressValid.dirty">
                    <p *ngIf="AddressValid.errors?.['required']">
                        Address is required.
                    </p>
                    <p *ngIf="AddressValid.errors?.['minlength']">
                        Address is too short.
                    </p>
                    <p *ngIf="AddressValid.errors?.['maxlength']">
                        Address is too long.
                    </p>
                </div>
            </div>

            <div class="form-field">
                <label class="label">Credit Card</label>
                <input class="input" name="creditCardValid" type="text" required  minlength="16" pattern="[0-9]*"
                    placeholder="Enter your credit Card number" maxlength="16" [(ngModel)]="creditCard" #creditCardValid="ngModel">
                <div class="form-text">
                    <div *ngIf="creditCardValid.invalid && creditCardValid.dirty">
                        <p *ngIf="creditCardValid.errors?.['required']">
                            Credit Card is required.
                        </p>
                        <p                             *ngIf="creditCardValid.errors?.['minlength'] or creditCardValid.errors?.['maxlength']">
                            Credit Card must contain 16-digit-number.
                        </p>
                        <p *ngIf="creditCardValid.errors?.['pattern']">
                            Credit Card is invalid, must only contain numbers.
                        </p>
                    </div>
                    We'll never share your email with anyone else.
                </div>
            </div>

            <button (click)="restForm()" type="submit" [routerLink]="['/confirmation']" class="button-form" [disabled]="form.invalid">Submit</button>

        </form>

    </div>

</div>

