p, h1 , h2 , h3 , h4 {
  font-family: 'Archivo Narrow', sans-serif;
}
.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.item-details{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #33b5e5;
  margin: 20px;
  padding: 10px 20px;
}
.item-img{
  max-height:215px; 
  object-fit: cover; 
  width: 100%;
}