.flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
button{
  background: #33b5e5;
  color: #fff;
  border-radius: 10px;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 20px;
  cursor: pointer;
}