<div class="detail-container">

<img  mat-card-image src="{{product.url}}" alt="Photo of Product" class="product_image">
<div class="details-box">
    <div class="details">
        <h1>{{product.name}}</h1>
        <p>$ {{product.price}}</p>
        <p>{{product.description}}</p>
    </div>

    <div class="form">
<select name="count" id="count">
    <option value="1">1</option>    
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
</select> <br>
      <button mat-button class="buttonStyle">Add To Cart</button>
      <button [routerLink]="['/']" routerLinkActive="router-link-active"  mat-button class="backButton"><span>&#8249;</span> Back to product list</button>
    </div>
    </div>

    </div>