<div class="detail-container">

<img  mat-card-image src="{{product.url}}" alt="Photo of Product" class="product_image">
<div class="details-box">
    <div class="details">
        <h1>{{product.name}}</h1>
        <p>$ {{product.price}}</p>
        <p>{{product.description}}</p>
    </div>

    <div class="form">
        <select name="count" id="count" [(ngModel)]="quantity">
<option *ngFor="let quantity of quantities" [value]="quantity"> {{quantity}}</option>
</select> <br>
      <button (click)="addItem(product)" mat-button class="buttonStyle">Add To Cart</button>
      <button [routerLink]="['/']" routerLinkActive="router-link-active"  mat-button class="backButton"><span>&#8249;</span> Back to product list</button>
    </div>
    </div>

    </div>